@model IEnumerable<MovementView>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="padding-bottom: 10px; padding-top: 30px;">
    <h1>Городские Электрические сети</h1>
    <h2>Движение техники</h2>
    <h4>История движения техники. Где сейчас находится устройство, кто и когда его туда перенес.</h4>

    <br />

    <p>
        <a class="btn btn-primary btn-lg btn-block" @Html.ActionLink("Добавить запись", "Create")</a>
    </p>
</div>

<table class="table  table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrinterBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrinterModel)
        </th>
        <th class="text-right">
            Старое здание,
        </th>
        <th>
            кабинет
        </th>
        <th> </th>
        <th class="text-right">
            Новое здание,
        </th>
        <th>
            кабиент
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrinterBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrinterModel)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.BuildingOld)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CabinetOld)
            </td>
            <td class="text-center"><strong>⟶</strong></td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.BuildingNew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CabinetNew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-info btn-sm" @Html.ActionLink("Изменить", "PerformersEdit", new { id = item.ID })
                    <!--<a class="btn btn-warning btn-sm" @Html.ActionLink("Подробнее", "PerformersDetails", new { id = item.ID })-->
                    <a class="btn btn-danger btn-sm" @Html.ActionLink("Удалить", "PerformersDelete", new { id = item.ID })
                </div>
            </td>
        </tr>
    }

</table>
