@model Performers

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-primary" @Html.ActionLink("Вернуться к списку", "Performers") |
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>
    }
</div>
