@model IEnumerable<PrintersView>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<br />

<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">🔍</span>
    <input class="form-control" type="text" id="search" placeholder="Поиск">
</div>
<small id="emailHelp" class="form-text text-muted">Вы можете искать по любому столбцу таблицы.</small>
<br />
<br />

<table class="table table-hover" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrinterBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrinterModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusMsg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrinterBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrinterModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusMsg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="btn btn-default btn-sm" @Html.ActionLink("Выбрать", "#", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    $(document).ready(function () {
        $("#search").keyup(function () {
            _this = this;
            $.each($("#mytable tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>