@model IEnumerable<PrintersView>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/search")
}

<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<br />

<div style=" padding: 0 15px;">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">🔍</span>
        <input class="form-control" type="text" id="search" placeholder="Поиск" style=" max-width: 100%;">
    </div>
    <small id="emailHelp" class="form-text text-muted">Вы можете искать по любому столбцу таблицы.</small>
</div>
<br />


<table class="table table-hover" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrinterBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrinterModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusMsg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrinterBrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrinterModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @(item.StatusMsg ?? "Не выбран")
                </td>
                <td>
                    @(item.IP ?? "Не назначен")
                </td>
                <td>
                    @(item.PurchaseDate == DateTime.MinValue ? "—" : Html.DisplayFor(modelItem => item.PurchaseDate).ToString())
                </td>
                <td>
                    @(item.Price ?? "Не указана")
                </td>
                <td>
                    <a class="btn btn-default btn-sm" @Html.ActionLink("Выбрать", "Create", new { PrinterID = item.ID })
                </td>
            </tr>
        }
    </tbody>

</table>